/* athiti-regular - latin */
@font-face {
    font-family: 'Athiti';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/athiti-v12-latin-regular.woff2') format('woff2'), 
    url('../fonts/athiti-v12-latin-regular.woff') format('woff'); 
}
/* athiti-600 - latin */
@font-face {
    font-family: 'Athiti';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../fonts/athiti-v12-latin-600.woff2') format('woff2'), 
    url('../fonts/athiti-v12-latin-600.woff') format('woff');
}

body{
    background-color: #e0e0e6;
    font-family: 'Athiti', sans-serif;
}
.item{
    width: 100%;
    max-width: 130px;
    height: 250px;
    color: #080000;
    /* background-color: #fff; */
    border-radius: 10px;
    box-shadow: rgba(104, 100, 100, 0.15) 0px 15px 25px, rgba(252, 250, 250, 0.05) 0px 5px 10px;
}
.list{
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.title-content-wrap{
    background-color: #fff
}
.week-rotaete{
    writing-mode: vertical-rl;
    display: inline-flex;
}
.icon-calendar-th{
    max-width: 35px;
    height: 20px;
    background-image: url("../images/calendar.svg");
    background-position: center;
    background-size: 15px ;
    background-repeat: no-repeat;
}
.tebl-wrap{
    background-color: #fff;
    padding: 15px;
}
.table-tr-wrap{
    height: 35px;
    color: #555555;
}
.table{
    font-size: 9px;
}
.dropdawn-btn{
    width: 150px;
}
.dropdown-toggle::after {
    margin-left: 2.255em;
}
.title-region{
    font-size: 28px;
}
.btn-prayer {
    background-color: #FCFCFD;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.header-time{
    font-size: 15px;
}
.header-titile-time{
    font-size: 15px;
}
/* MEDIA QUERY  */
@media only screen and (min-width:768px){
    .table{
        font-size: 16px;
    }
    .week-rotaete{
        writing-mode: horizontal-tb;
    }
    .time-date{
        font-size: 20px;
        font-weight: 600;
    }
    .weekday{
        font-size: 20px;
        font-weight: 600;
    }
    .tebl-wrap{
        padding: 25px;
    }
    .icon-calendar-th{
        background-size: 20px;
    }
    .header-time{
        font-size: 23px;
    }
    .header-titile-time{
        font-size: 23px;
    }
}
