/* athiti-regular - latin */
@font-face {
    font-family: 'Athiti';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/athiti-v12-latin-regular.woff2') format('woff2'), 
    url('../fonts/athiti-v12-latin-regular.woff') format('woff'); 
}
/* athiti-600 - latin */
@font-face {
    font-family: 'Athiti';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../fonts/athiti-v12-latin-600.woff2') format('woff2'), 
    url('../fonts/athiti-v12-latin-600.woff') format('woff');
}

/* loder */
.loder{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all .5s ease;
    z-index: 1111;
    background: #fff;
}
.loderspan{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 50px;
    height: 50px;
    border: 3px solid #e38528;
    border-top-color: transparent ;
    border-radius: 50%;
    animation: loder 1s linear infinite;
    position: relative;
}
.lodermiddil{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid black;
    border-left-color: transparent;
    animation: loder2 linear .5s infinite;
}
@keyframes loder {
    100%{
        transform: rotate(360deg);
    }
}
@keyframes loder2 {
    100%{
        transform: rotate(-360deg);
    }
}
/* loder end */

body{
    background-color: #e0e0e6;
    font-family: 'Athiti', sans-serif;
    box-sizing: border-box;
}
.btn-top{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 11;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    background-image: url("../images/top-btn.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.body-show{
    overflow: hidden;
}
.site-header{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.hero-iymon-title-wrap{
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.logo a{
    font-size: 18px;
}
.navbar-nav-item{
    padding: 5px 10px;
    margin-top: 15px;
    background-color: #e0e0e6;
    border-radius: 2px;
}
.res-navbar-link{
    color: #080000;
}
.header-time{
    font-size: 14px;
    color: #030702;
}
.header-titile-time{
    font-size: 14px;
    color: #070c04;
}
.navbar-toggler{
    padding: 5px;
}
.navbar-toggler-icon{
    font-size: 15px;
}
.nav-list{
    display: flex;
}
.item{
    width: 100%;
    max-width: 130px;
    height: 250px;
    color: #080000;
    /* background-color: #fff; */
    border-radius: 10px;
    box-shadow: rgba(104, 100, 100, 0.15) 0px 15px 25px, rgba(252, 250, 250, 0.05) 0px 5px 10px;
}
.list{
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.title-content-wrap{
    background-color: #fff
}
.week-rotaete{
    writing-mode: vertical-rl;
    display: inline-flex;
}
.icon-calendar-th{
    max-width: 35px;
    height: 20px;
    background-image: url("../images/calendar.svg");
    background-position: center;
    background-size: 15px ;
    background-repeat: no-repeat;
}
.tebl-wrap{
    background-color: #fff;
    padding: 15px;
}
.table-tr-wrap{
    height: 35px;
    color: #555555;
}
.table{
    font-size: 9px;
}
.dropdawn-btn{
    width: 150px;
}
.dropdown-toggle::after {
    margin-left: 2.255em;
}
.title-region{
    font-size: 28px;
}
.btn-prayer {
    background-color: #FCFCFD;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.wrapper-fixsid{
    position: fixed;
    background-color: #555555;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.prayer-text-list{
    border-radius: 10px;
    padding: 30px 10px 20px 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

/* AUDIO STYl  */
.audios-wrapper-show{
    display: block;
}
.view-audio-list{
    width: 100%;
}
.view-audio-text{
    text-transform: capitalize;
}
.audio-prayer-time{
    background-image: url("../images/time-img.png");
}
.view-audio-item{
    width: 100%;
    max-width: 360px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.view-audio-ordinal-number{
    font-size: 30px;
}
.audio-m{
    /* visibility: hidden; */
}

/* FATH  */
.faith-blok{
    border-radius: 4px;
    background-color: #FCFCFD;
}
.faith-item{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.faith-content{
    font-size: 16px;
    line-height: px;
}
.btn-menu-wrap{
    display: flex;
}

/* MEDIA QUERY  */
@media only screen and (min-width:768px){
    .table{
        font-size: 16px;
    }
    .logo a{
        font-size: 24px;
    }
    .week-rotaete{
        writing-mode: horizontal-tb;
    }
    .time-date{
        font-size: 20px;
        font-weight: 600;
    }
    .weekday{
        font-size: 20px;
        font-weight: 600;
    }
    .tebl-wrap{
        padding: 25px;
    }
    .icon-calendar-th{
        background-size: 20px;
    }
    .header-time{
        font-size: 17px;
    }
    .header-titile-time{
        font-size: 17px;
    }
    .faith-blok{
        padding: 20px;
    }
    .faith-item{
        font-size: 28px;
        font-weight: bold;
    }
    .btn-top{
        right: 20px;
    }
}

@media only screen and (min-width:990px){
    .nav-list{
        margin-left: 50px;
    }
    .navbar-nav{
        margin-left: 55px;
    }
    .navbar-nav-item{
        margin-top: 0px;
        background-color: transparent;
    }
}